{% extends 'base.html' %}
{% load static %}


{% block title %}
 <title>Forgot Password</title>
{% endblock title %}

{% block content %}

    <div class="site-wrapper">

       <!-- page breacrumb -->
        <section>
            <div class="banner">
                <div class="header-text mb-0">
                    <div class="container">
                        <div class="text-center text-white">
                            <h1>Forgot Password</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ page breacrumb -->

        <!-- page header -->
        <section class="section">
            <div class="container-fluid pt-20">
                <div class="row">
                    <div class="register-page">
                        <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                            <div class="wrapper wrapper2">
                                <form action="#" class="card-body">
                                    <h3>Forgot Password</h3>
                                    <div class="mail">
                                        <input type="email" id="email" name="email">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="submit">
                                        <button class="btn btn-primary btn-block">Send</button>
                                    </div>
                                    <p class="text-dark mb-0">Forget it, send me back to
                                        <a href="{% url 'login' %}" >Login</a>
                                    </p>
                                </form>
                                <hr class="divider">
                                <div class="card-body">
                                    <div class="text-center">
                                        <div class="btn-group">
                                            <a href="#" class="btn btn-icon mr-2 brround">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a href="#" class="btn btn-icon mr-2 brround">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ page header -->

        <!-- wrapper -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
        <!-- ./ wrapper -->
 {% endblock content %}